* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	padding: 0 10px;
}

@media (min-width: 576px) {
	.container {
		padding: 0;
		width: 540px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.header::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	background-color: rgb(38,38,38);
}

.header_inner {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	font-family: cursive;
	font-size: 22px;
	color: #fff;	
	text-decoration: none;
	z-index: 1002;
}

.menu-burger {
	width: 30px;
	height: 20px;
	position: relative;
	z-index: 1002;
}

.menu-burger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #d9d9d9;
	transition: all 0.3s ease;
}

.menu-burger span:nth-child(1) {
	top: 0;
}

.menu-burger span:nth-child(2) {
	top: 8px;
}

.menu-burger span:nth-child(3) {
	bottom: 0;
}

.menu-burger.active span:nth-child(1) {
	transform: rotate(45deg);
	top: 8px;
}

.menu-burger.active span:nth-child(3) {
	transform: rotate(-45deg);
	bottom: 8px;
}

.menu-burger.active span:nth-child(2) {
	transform: scale(0);
}

@media (min-width: 768px) {
	.menu-burger {
		display: none;
	}
}

@media (max-width: 767px) {
	.menu {
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		padding: 120px 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #2a2a2a;
		list-style: none;
		transition: all 0.3s ease;
		overflow: auto;
	}

	.menu.active {
		top: 0;
	}

	.menu_item {
		margin: 20px 0;
	}
}

@media (min-width: 768px) {
	.menu {
		width: 370px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		z-index: 1002;
	}
}

@media (min-width: 992px) {
	.menu {
		width: 470px;
	}
}

.menu_link {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 900;
	color: #d9d9d9;
	text-decoration: none;
	text-transform: uppercase;
}

/* intro */

.intro {
	position: relative;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
}

.intro_bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #2a2a2a;
}

.intro_bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.6;
}

.intro_inner {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro_title {
	margin-bottom: 20px;
	font-size: 34px;
	font-weight: 300;
	color: #d9d9d9;
	text-align: center;
}

.intro_title span {
	font-weight: 900;
}

.intro_subtitle {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #d9d9d9;
}

.intro_subtitle span {
	font-style: italic;
}

.intro_button {
	padding: 10px 10px;
	font-size: 12px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: tomato;
	border-radius: 5px;
}

/* features */

.features {
	padding: 30px 0;
	font-family: 'Lato', sans-serif;
}

@media (min-width: 576px) {
	.features_inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.features_item {
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	.features_item {
		width: 48%;
	}

	.features_item:nth-last-child(-n + 2) {
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.features_item {
		width: 24%;
	}

	.features_item:nth-last-child(-n + 4) {
		margin-bottom: 0;
	}
}

.features_item:last-child {
	margin-bottom: 0;
}

.features_item::before {
	content: '';
	display: block;
	height: 54px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-android::before {
	background-image: url(../images/features/android.png);
}

.icon-apple::before {
	background-image: url(../images/features/computer.png);
}

.icon-camera::before {
	background-image: url(../images/features/camera.png);
}

.icon-timer::before {
	background-image: url(../images/features/stop-watch.png);
}

.features_title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 900;
	color: #616161;
	text-align: center;
}

.features_text {
	font-size: 18px;
	font-weight: 400;
	color: #616161;
	text-align: center;
}
